Repository aws-cloudformation/resource-schema-guard-rail: changes, and which pre-commit hooks are due for each by the changed paths.
All: intellij-plugin-format, intellij-plugin-build

intellij-plugin-format:
  name: intellij-plugin-format
  description: Format IntelliJ plugin test code with ktlint
  entry: bash -c 'cd intellij-extension && ./gradlew ktlintTestSourceSetFormat'
  language: system
  pass_filenames: false

intellij-plugin-build:
  name: intellij-plugin-build
  description: Build IntelliJ plugin (includes tests, validation, and creates distribution)
  entry: bash -c 'cd intellij-extension && ./gradlew clean build'
  language: system
  pass_filenames: false

feat: VSCode extension (#92)
  .pre-commit-config.yaml
  src/cli.py
  src/rpdk/guard_rail/core/data_types.py
  src/rpdk/guard_rail/utils/arg_handler.py
  tests/unit/test_cli.py
  vscode-extension/.eslintrc.json
  vscode-extension/.gitignore
  vscode-extension/.vscode/launch.json
  vscode-extension/.vscode/tasks.json
  vscode-extension/.vscodeignore
  vscode-extension/README.md
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/commands.ts
  vscode-extension/src/diagnosticMapper.ts
  vscode-extension/src/diagnosticProvider.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/guardRailExecutor.ts
  vscode-extension/src/types.ts
  vscode-extension/test/diagnosticMapper.test.ts
  vscode-extension/test/diagnosticProvider.test.ts
  vscode-extension/test/fixtures/invalid-schema.json
  vscode-extension/test/fixtures/valid-schema.json
  vscode-extension/test/guardRailExecutor.test.ts
  vscode-extension/test/runTest.ts
  vscode-extension/tsconfig.json
Due: none

Migrate from junit to testng
  intellij-extension/build.gradle.kts
  intellij-extension/src/test/kotlin/com/amazon/guardrail/CloudFormationSchemaFetcherTest.kt
  intellij-extension/src/test/kotlin/com/amazon/guardrail/GuardRailDiagnosticMapperTest.kt
Due: intellij-plugin-format, intellij-plugin-build

Migrate from junit to testng (#94)
  intellij-extension/build.gradle.kts
  intellij-extension/src/test/kotlin/com/amazon/guardrail/CloudFormationSchemaFetcherTest.kt
  intellij-extension/src/test/kotlin/com/amazon/guardrail/GuardRailDiagnosticMapperTest.kt
Due: intellij-plugin-format, intellij-plugin-build

fix: switched TAG019 to Warning (temp)
  src/rpdk/guard_rail/rule_library/tags/schema-linter-core-tagging-rules.guard
Due: none

fix: switched TAG019 to Warning (temp) (#95)
  src/rpdk/guard_rail/rule_library/tags/schema-linter-core-tagging-rules.guard
Due: none

Fix intellij plugin. Set compatibility up to 2025.1
  intellij-extension/build.gradle.kts
  src/cli.py
Due: intellij-plugin-build

Fix intellij plugin. Set compatibility up to 2025.1 (#96)
  intellij-extension/build.gradle.kts
  src/cli.py
Due: intellij-plugin-build

Add plugins to release
  .github/workflows/build-extensions.yml
Due: none

Add plugins to release (#97)
  .github/workflows/build-extensions.yml
Due: none

Bump: version 0.0.21
  setup.py
Due: none

Bump: version 0.0.21 (#98)
  setup.py
Due: none

fix: change `py setup.py` to `python -m build` to normalize hyphen/underscore for pypi distribution release
  .github/workflows/pypi-release.yml
Due: none

fix: change `py setup.py` to `python -m build` to normalize hyphen/underscore for pypi distribution release (#99)
  .github/workflows/pypi-release.yml
Due: none

fix: install build before calling
  .github/workflows/pypi-release.yml
Due: none

pypi release fix (#100)
  .github/workflows/pypi-release.yml
Due: none

fix: [pypi release] modify MANIFEST.in to include requirements.txt as required by `python build` - tested locally
  MANIFEST.in
Due: none

fix: [pypi release] modify MANIFEST.in to include requirements.txt as required by `python build` - tested locally (#101)
  MANIFEST.in
Due: none

[v0.0.21.5] bump version minor release to fix pypi distribution
  setup.py
Due: none

[v0.0.21.5] bump version minor release to fix pypi distribution (#102)
  setup.py
Due: none

update: more information in README change
  README.md
  docs/BASIC_LINTING.md
  docs/BREAKING_CHANGE.md
Due: none

update: more information in README change (#103)
  README.md
  docs/BASIC_LINTING.md
  docs/BREAKING_CHANGE.md
Due: none

Add git secrets hook
  .pre-commit-config.yaml
Due: none

Add git secrets hook (#104)
  .pre-commit-config.yaml
Due: none

253 version bump
  intellij-extension/build.gradle.kts
  intellij-extension/src/main/kotlin/com/amazon/guardrail/GuardRailGutterIconProvider.kt
Due: intellij-plugin-build

253 version bump (#105)
  intellij-extension/build.gradle.kts
  intellij-extension/src/main/kotlin/com/amazon/guardrail/GuardRailGutterIconProvider.kt
Due: intellij-plugin-build

Bump sgr version to 0.0.22
  setup.py
Due: none

Bump sgr version to 0.0.22 (#106)
  setup.py
Due: none

Update README to remove beta status note
  README.md
Due: none

Update README to remove beta status note (#107)
  README.md
Due: none

Path conditions:
  intellij-plugin-format: any of: ^intellij-extension/src/test/.*\.kt$
  intellij-plugin-build: any of: ^intellij-extension/.*\.(kt|kts)$
